@using Metronome.Api.Authentication.Jwt
@using Metronome.Api.Models.MemberViewModels;

@model AuthenticatedModel
@{ 
    IEnumerable<string> providers = (IEnumerable<string>)Model.Providers;
    string providerNames = string.Join( ",", providers.Select( p => string.Format( "'{0}'", p ) ) );
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Authenticated</title>
</head>
<body>
    <script>
        (function () {
            window.opener.postMessage({
                type: 'authenticated',
                payload: {
                    bearer: {
                        accessToken: '@Model.Token.AccessToken',
                        expires_in: @Model.Token.ExpiresIn
                    },
                    email: '@Model.MemberEmail',
                    boundProviders: [@Html.Raw( providerNames )]
                }
            }, '@Model.SpaHost');

            window.close();
        })();
    </script>
    <!-- @Model.BreackPadding -->
</body>
</html>
